<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.lachlan.tz</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>550D97C0-A2B2-4A54-A472-F2AA760D121C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF16946F-5549-4D50-A0FB-EFEE63A28F89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CF16946F-5549-4D50-A0FB-EFEE63A28F89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A3A4092-8D62-4F7D-9684-8FDF7BCDA6B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC294EDC-565E-48AE-BF28-19E2B1C649C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0D9FBEB-ADA5-421C-B72E-1FFF7512639D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lachlan Donald</string>
	<key>description</key>
	<string>Shows time in different cities</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Timezone</string>
	<key>objects</key>
	<array>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>B0D9FBEB-ADA5-421C-B72E-1FFF7512639D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tz</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching</string>
				<key>script</key>
				<string>./alfred-timezone search "{query}"</string>
				<key>title</key>
				<string>Searching</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EC294EDC-565E-48AE-BF28-19E2B1C649C0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Timezone</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6A3A4092-8D62-4F7D-9684-8FDF7BCDA6B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-github-jump update</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF16946F-5549-4D50-A0FB-EFEE63A28F89</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tz &gt; update</string>
				<key>text</key>
				<string>Update Timezone Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>550D97C0-A2B2-4A54-A472-F2AA760D121C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>550D97C0-A2B2-4A54-A472-F2AA760D121C</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>6A3A4092-8D62-4F7D-9684-8FDF7BCDA6B3</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>B0D9FBEB-ADA5-421C-B72E-1FFF7512639D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>CF16946F-5549-4D50-A0FB-EFEE63A28F89</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>EC294EDC-565E-48AE-BF28-19E2B1C649C0</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/lox</string>
</dict>
</plist>
